# Runtime dependencies
python-dotenv
langchain-core
langchain-community
langgraph
pydantic
huggingface-hub
transformers
langchain-huggingface
langchain-openai
langchain-google-genai
langchain-groq
chromadb
unstructured
pypdf
pymupdf
pillow
sentence-transformers
fastapi
uvicorn[standard]
pytest
flake8
