# Optional user-facing requirements (for running the Streamlit app)
streamlit
python-dotenv
langchain-core
langchain-community
langgraph
pydantic
huggingface-hub
transformers
tensorflow
langchain-huggingface
langchain-openai
langchain-google-genai
langchain-groq
chromadb
unstructured
pypdf
pymupdf
pytest
flake8
